button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  color: var(--button-color);
  padding: 0.7rem 1.5rem;
  background-color: transparent;
  border: 0.1rem solid var(--button-color);
  border-radius: 0.2rem;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
