.form-group {
  border: 1px solid var(--frame-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.6rem 1.2rem;

  #search {
    font-family: var(--font-family);
    outline: none;
    border: none;
    background-color: transparent;

    &::placeholder {
      color: var(--link-text-color);
      font-size: 1.1em;
    }

  }

  img {
    width: 1.7em;
    height: 1.7em;
    margin-right: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
